@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply bg-primary-dark text-metallic-platinum font-sans;
    }
}
