div.item {
   display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-items: center;

    background: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    width: 100%;
    padding: 5px;
    /*border-radius: 20px;*/
    margin-bottom: 10px;
    position: relative;
        border-radius: 5px;
}
.descc{
    color: red;
    font-size: 12px;
    font-weight: bold;
    /*height: 40px;*/
    line-height: 20px;
    background: #fff;
    margin: 2px;
    /*border: 1px solid #66997B;*/
    /*border-bottom: solid 1px #ccc;*/
    text-align: initial;
    width: 100%;
    margin-top: 4px;
    border-radius: 20px;
    /*border-bottom: 1px dashed #000 !important;*/
}
.l_left {
    /*padding: 20px 0;*/
    /*width: 200px;*/
    width: 50%;
    padding: 10px;

}
.l_right {
       padding: 10px 5px;
    width: 50%;
    /* background: #e1f1ff; */

    text-align: center;

}
.l_left img {
    width: 100%;
    /*height: 4.5rem;*/
    border-radius: 10px;

}
.metal {
    position: relative;
    width: 100%;
    display: flex;
     /*flex-direction: column; */
    /* margin-top: 20px; */
    /* padding-left: 15px; */
    background: #fff;
    /*margin: 2px;*/
     /*border: solid 1px #ccc; */
    /*height: 62px;*/
    /*line-height: 43px;*/
    padding-right: 3px;
    padding-left: 3px;
    justify-content: space-between;
    color: #0fb40f;
    /*background: #0fb40f;*/
    /*text-align: justify;*/
    /*border-bottom: 1px solid #cfcfcf;*/
        /*border-bottom: 1px dashed #000!important;*/
}
/*.metal_a::after {*/
/*            content: "";*/
/*    position: absolute;*/
/*    top: 85%;*/
/*    right: 0;*/
/*    width: 2px;*/
/*    height: 65%;*/
/*    background-color: #f3f3f3;*/
/*    transform: translateY(-100%);*/
/*    }*/
/*.metal_b::after {*/
/*            content: "";*/
/*    position: absolute;*/
/*    top: 85%;*/
/*    right: 0;*/
/*    width: 2px;*/
/*    height: 65%;*/
/*    background-color: #f3f3f3;*/
/*    transform: translateY(-100%);*/
/*    }*/
.bbttom{
    font-size: 16px;
    display: block;
    text-align: center;
     /*border-radius: 15px; */
    padding: 5px;
    margin: 12px auto;
    width: 100%;
    height: 43px;
    /*margin-top: 25px;*/
    background-color: #66997B;
    color: #fff;
}
.metal span {
     /* width: 45%; */
     display: block;
     line-height: 26px;
     text-align: center;
     font-size: 16px;
     /*height: 36px; */
    /* line-height: 20px; */
    /*text-align: left;*/
    /*margin: 5px;*/
    /*display: flex;*/
    /* flex: 1; */
    /* justify-content: center; */
    /* align-items: center;*/
}
.metar {
    /*display: flex;*/
    /*flex-direction: row;*/
    width: 100%;
}
.l_meta {
     display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    height: unset;
}

.l_title h1 {
    font-size: .4rem;
    font-weight: 800;
    color: #0fb40f;
    /*text-align: center;*/
    text-align: left;
    /*line-height: 40px;*/
     /*border-bottom: solid 4px #ccc; */
    /*padding-bottom: 5px;*/
    /*height: 45px;*/
    /*background: #66997B;*/
    /*border: 1px solid #000;*/
    /*padding: 12px 12px 16px 12px;*/
    /*background: #0fb40f;*/
}
.l_title {

}
.amount {
    font-size: 12px;
    color: #0fb40f;
    /*font-weight: bold;*/
    /*flex: 1;*/
    /*width: 100%;*/
    display: flex;
    justify-content: end;
}
.day {
    font-size: 12px;
    color: #0fb40f;
    font-weight: bold;
    /*flex: 1;*/
    /*width: 100%;*/
    display: flex;
    justify-content: end;
}

.l_desc {
    /*font-weight: bold;*/
    font-size: 12px;
    /*color: #6F6F6F;*/
    /*margin-right: 5px;*/
}
.lbotton {
      display: flex;
    flex-direction: column;
    /* width: 100%; */
    box-shadow: none;
    /* width: 100%; */
    margin: 0px;
    background: none;
}
.lbotton span {
width: 95%;
    margin-bottom: 10px;
    background-color: #0fb40f;
    border-radius: 10px;
    color: #fff;
    justify-content: center;
    height: .8rem;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}

.icon-list li {
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    font-weight: 700;
    font-size: 12px;
    /* margin: 5px 5px; */

     border-radius: 20px;
    /* padding: 20px; */
    /*background: #ececec;*/
    height: 77px;
    /* line-height: 110; */
    justify-content: center;
    margin: 2px auto;

}
.icon-list li img {
   height: 30px;

}
.icon-list li span {
    /*margin-top: 10px;*/
    color:#0fb40f;
}
.icon-list ul {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /*border-bottom: 2px solid #0fb40f;*/
}
.icon-list{
        display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px 10px 10px;
    background: #fff;
    /* box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%); */
    /* padding: 10px 10px; */
    border-radius: 0 0 5px 5px;
    padding: 5px 0px;
    width: 95%;
}
.layui-carousel {
    margin: 5px 10px  0  10px;
}
.footerbar {
    border-top: 1px solid #f2f2f2 ;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    color: #0fb40f;
    display: flex;
    background-color: #f1f1f1;
    padding: 5px 0;
    border-radius: 0px;
}
.footerbar div img {
    height:30px;
width: 30px;}
.footerbar div {
    font-size: 12px;
    display: flex;
    width: 33.33%;
 flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.header[data-v-d5f15326] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    /*padding: 0 0.32rem;*/
    width: auto;
    /*background: #3ec4d0d1;*/
    /*background-size: 100% 100%;*/
    position: relative;
    z-index: 1;
    overflow: hidden;
    /*margin: 15px;*/
    /*margin-top: 33px;*/
    /*border-radius: 10px;*/
    /*background: linear-gradient(#ffffff, #0fb40f);*/
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);*/
    /*padding: 10px 10px 0 10px !important;*/
}
 .balance {
    height: 2.846667rem;
    display: flex !important;
                justify-content: space-between;
                width: 95% !important;
                background: #0fb40f !important;
                border-radius: 0.3rem !important;

    margin: 3px auto auto;
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
    position: relative;
    top: -70px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    z-index: 10;

  }

  .balance p {
    float: left;
    font-size: 0.373333rem;
    color: #fff;
    text-align: center;
  }

.balance p span {
    color: #fff;
    margin-top: 0.32rem;
    display: block;
  }

.balance p em {
    display: block;
    margin-top: 0.2rem;
    color: #fff;
    font-style: normal;
    font-size: 0.346667rem;
  }
  .login_nav li{
    height: 2.6rem;
}
body {
    background: #fff !important;
}


.my-list {
    display: flex;
    flex-wrap: wrap;
    /*background: #fff;*/
    /* width: 100%; */
    position: relative;
     /*top: -35px; */
    /*padding: 10px 0px;*/
    margin: 0 10px;
    border-radius: 10px;
    background: #fff;
    z-index: 99;
}
.my-item {
    /*padding: 10px;*/
    display: flex;
    font-size: 14px;
    FONT-VARIANT: JIS04;
    width: 100%;
    height: 55px;
    /*flex-wrap: wrap;*/
    /*text-align: center;*/
     /*margin: 5px auto; */
     /*border-radius: 10px; */
    /*background: #ffa851;*/
    padding: 10px 16px;
    /*box-shadow: 0 0px 4px 0px #b7b7b7;*/
    /*box-shadow: 0 2px 2px 1px #ededed;*/
    /*height: 106px;*/
    /*border-radius: 3px;*/
    /*border-bottom: 1px solid #ccc;*/
    /*border-right: 1px solid #ccc;*/
    align-items: center;

}


.my-item img {
    width: 30px;

}
.my-item div {

    /*width: 100%;*/
    color: #0fb40f;
    font-weight: bold;
    font-size: 14px;

}
.my-item:nth-child(2n){
    margin-left: 0px;
}
.my-item div:nth-child(2){
    /*width: 100%;*/
    display: flex;
    align-items: center;
    /*margin-left: 20px;*/
    display: flex;
    /*justify-content: center;*/
    /*margin-top: 10px;*/
    flex: 1;
    padding-left: 15px;

}
.my-item span {
    width: 10px;
    background-image:url('/pic/personal/arrow.png');
    background-size: 100%;
    background-repeat: no-repeat;

}
.item-content{
    padding: 3%;
    overflow: scroll;
    margin-bottom: 50px;
}
.topimg {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}
.meta-content {
    padding: 10px 5px;
    width: 85%;
    background: #e1f1ff;
    margin: 0 auto;
}
.dec-content {
        width: 85%;
    background: #e1f1ff;
    margin: 0 auto;
    padding: 10px;
}
.buy {
    /*    position: fixed;*/
    /*bottom: 0;*/
    /*width: 95%;*/
    /*height: 50px;*/
    /*margin: 0 auto;*/
    /*font-size: 26px;*/
    /*background: #03a9f4;*/
}
.bbuy {
       /* position: fixed; */
    /* bottom: 0; */
    width: 85%;
    height: 50px;
    margin: 10px auto;
    font-size: 26px;
    background: #03a9f4;

}
.mybank{
    height: 150px;
    background: #fff;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.mybank button{
    width: 56%;
    text-align: center;
    border-radius: 13px;
    height: 1.3rem;
    margin: 10px auto;
    background: #0fb40f;
    color: #fff;
    font-size: 16px;
}















